
body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family:sans-serif;
  background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url('/Users/sidrahkhan/Desktop/web development/porfolio-site/Images/background.jpg');
}

#header{
  height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/Users/sidrahkhan/Desktop/web development/porfolio-site/Images/Image-1.jpg');
  background-position:center top;
  background-size: cover;
  background-attachment: fixed;
}
/* ------------nav-------- */
.navbar {
  padding: 0 0 4.5rem;
  position: sticky;

}



.nav-item {
  padding: 0 18px;
}

.nav-link {
  margin:12px;
  font-size: 1rem;
  font-family: "sans-serif"
}


/* ----------------nav end */
.user-box{
  top:50%;
  left:50%;
  transform: translate(-45%,60%);
  position: absolute;
  background: #dfdedb41;
}

.user-box h1{
  color: #fff;
  margin:10px ;
  font-weight: bold;
}
.user-box p,h2{
  color: #fff;
  margin:10px ;
  font-weight: bold;
}

#about-me{
  height: 100vh;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/Users/sidrahkhan/Desktop/web development/porfolio-site/Images/image2.jpeg');
background-position:center top;
background-size: cover;
position: relative;
background-attachment: fixed;


}
.profile{
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: hsla(45, 6%, 87%, 0.151);
  
  
   
}

.profile p{
  color: #fff;
  margin:10px ;line-height: 2;
  font-style: italic;

  
  
  
}


.resume{
  padding-top: 50px;
  padding-bottom: 50px;
  color: #000;
  background:#fff;
}
.intro p{
  font-size: 1.2rem;
}


/* -----------------grid Site Image and text------------ */





/* ----------------text over image ---------- */
.work-container{
  
  
padding-top: 50px;
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));

  grid-auto-rows: 400px;
  grid-gap: 20px;
  
}

.text-work{
 
color: ivory;

}

.drum{
 
color: ivory;

}

.todo{
  
color: ivory;

}


.wrappe{
  font-family: sans-serif;
  position: relative;
  width: 30%;
  border-radius: 20px;
 
  
}

.img{
  opacity: 1;
  
  background-size: 100%;
  transition: .5s ease;
  image-rendering: auto;
  
}
.content {
  position: absolute;
 top:45%;
 left:135%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  text-transform: uppercase;
  font-size: 17px;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  

}
.content a{
 text-decoration: none;
 color: #000;
font-size: 15px;
display: block;
background-color: #fff;
text-align: center;
padding: 10px;
cursor: pointer;
border-radius: 20px;

}
.content:hover a{
  text-decoration: none;
  
  
  color: #808080;
  
}
.overlay{
  opacity: 0;
}

.wrappe:hover img {
opacity: .3;
color: #fff;



}
.wrappe:hover .overlay{
  opacity: 1;
  
}














/* .textOverImage{
  position: relative;
  height: 300px;
  width: 300px;
  float: left;
  margin: 4px;
  background-size: 100%;
  transition: 0.5s;
}
.textOverImage:hover{
  background-size: 105%;
  background-position:center;
  
}
.textOverImage:after{
  content: attr(data-text);
  position: absolute;
  top:100%;
  bottom: 0;
  left:0;
  right:0;
  background-color:rgb(0,0,0,0.5);
  color:#fff;
  padding: 0 10px;
  text-align: center;
  word-wrap: break-word;
  opacity: 1;
  transition: 0.4s;
  overflow: hidden;
  content: attr(data-text);
}

    .textOverImage:hover:after{
      opacity: 1;
      top:0;
      padding:8px
    }
    .textOverImage:first-line{
      color:#fff;
      font-weight: 2;
      font-size: 1.5rem;
    } */
      
   
    
    
    
    

   
   

 
    
    
  
  

 
  
/* ---------------------end flip card---------- */
#education{
  height: 100vh;
  background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url('/Users/sidrahkhan/Desktop/web development/porfolio-site/Images/edu.jpeg');
background-position:center left;
background-size:cover;
position: relative;
background-attachment: fixed;

}
.col-md-6{
  padding: 30px;
  top:50%;
  left:50%;
  transform: translate(-90%,-50%);
  position: absolute;
  background: #dfdedb41;
  
}

.project {
list-style-type: none;
position: relative;

}


.project:before{
  content:'';
  background: #d1762c;
  display: inline-block;
  position: absolute;
  left:29px;
  width: 2px;
  height: 100%;
  z-index: 1;
}

.project li{
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 10px;

}

.project li h4{
  padding:5px 0 5px 20px;
  background-color: #d1762c;
  
  font-size: 15px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;

  color: #fff;
  margin:10px ;
  

}
.project li b{
  color: #fff;
  font-style: italic ;
  font-weight: normal;

}



.project a{
  color: #fff;
  float: right;
  border-radius: 30px;


}
.project a:hover{
  color: #e0dfbf;

}
 #contact{
  height: 100vh;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/Users/sidrahkhan/Desktop/web development/porfolio-site/Images/contact.jpg');
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  
}
.contact-container{
  left:80px;
  padding: 30px;
  transform: translate(1%,50%);
  position: absolute;
  color: #fff;

  background: #dfdedb41;
  
} 
 

.contact-detail{
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 margin-right: 20px;
 
 
 
}
@media(max-width:800px){
  .contact-detail{
    flex-direction: column;
  }
}

.tel, .email, .git{


  margin: 3rem; 
  justify-content: space-around;
  width: 230px;
}
.contact .fa{
  
  font-size: 40px;
  color:#fff;
}
.contact i{
  margin:20px;
}
.contact a{
  color:#fff;
  outline: none;
  
}
.contact a:hover{
  color: #e0dfbf;
}
.email .fa:hover{
  color: #e0dfbf;
}


.social-links{
  padding :20px;
  text-align: center;
}


.footer-link {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #000;

}
.footer-link:hover{
color:  #808080;
}
