@import 
url('https://fonts.googleapis.com/css2?family=Raleway:wght@300,400,700,900&display=swap');

* 
{
   box-sizing: border-box;
}
body{
  margin: 0;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
img{
  max-width: 100%;
  height: auto;
}
.container{
  width: 90%;
  max-width: 70%;
  margin: 0 auto;

}
 /* header-------------------/* */
 header{
   position: absolute;
   top:0;
   left: 0;   
   margin-top: 1em;

   
 } 
 .logo{
   width: 45px;
   height: 45px;
   border-radius: 50px;
   background: aliceblue;
   display: inline-block;
   }
  
 
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  margin: 1em; 

}
 nav a {
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8rem;
  padding: .5em;
  color: #fff;

} 
nav a:hover,
nav a:focus{
  color: #ddd;
}


@media(min-width:60rem){
  .logo{
    float: right;
  }

  .navbar {
    float: right;
  }
}



  /* home hero------------------- */
  .home-hero{
    background-image: url(../Images/Image-1.jpg);
    padding: 10em 0;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
   
  }
  @media(min-width:60rem){
    .home-hero{
      height: 100vh;
    }

  }
  /* ----typography ------*/
  h1{

    font-weight: 300;
    font-size: 2.5rem;
    margin-top: 0;
  }
  p{
    margin-top: 0;
  }
  p:last-of-type{
    margin-bottom: 0;
  }
  .title{
   
    font-size: 2.5rem;
    margin-bottom: 1.5em;
    color: #f1f1f1;
    font-weight: 900;
    margin-top: 1em;
  }
  .title span{
    font-weight: 300;
    display: block;
    font-size: .9em;
  }
  @media(min-width:60rem){
    .title{
      font-size: 3.5rem;
      padding-top: 10vh;
    }
  }
  .button{
    display: inline-block;
    font-size: 1.15rem;
    text-decoration: none;
    text-transform: uppercase;
    border-style: solid;
    padding: .5em 1.75em;
    

  }
  .button-accent{
    color:#24252A;
    border-color:#24252A ;
    
  }
  .button-accent:hover,
  .button-accent:focus{
    color: #f1f1f1;
    background: #24252A ;
   
  }
  @media(min-width:60rem){
    .button{
      font-size: 1.5rem;
    }
  }
  /* -----home about----- */
.home-about-textbox{
  
background: #232323;
padding:4em ;
outline: 2px solid #f1f1f1;
outline-offset:-2.5em;
color: #fff;
position: relative;

}
.home-about-textbox h1 {
  color: #00ff6c;
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  padding: 0.145em;
  
  top:0.4em;
  background:#232323 ;
}
@media(min-width:25rem){
  h1{
    font-size: 2rem;
  }
  .home-about-textbox h1{
    padding: 0.325em;
    top:.325em;
  }

}
@media(min-width:60rem){
  h1{
    font-size: 2.5rem;
  }
  .home-about{
    background-image: url(../Images/info.JPG);
    background-repeat: no-repeat;
    padding-bottom: 8em;
    background-position:right;
   background-size: 60%;
   
    
    
     
  }
  .home-about-textbox h1{
  
    top:.75em;
    left: 6rem;
    transform: translateX(0);
  }
 
  .home-about-textbox{
    width: 50%;
    padding: 7em;
    line-height: 1.5em;
    margin-left: -2.5%;
    text-align: left; 
    top:-3em;
    outline-offset: -3.75em;

    
    
    }

}
/* 

.content {
  position: absolute;
 top:70%;
 left:50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  text-transform: uppercase;
  font-size: 17px;
  text-align: center;
  align-items: center;

  white-space: nowrap;
  overflow: hidden;
  

}
.content h2{
  font-weight: 2;
  font-style: italic;

}
.content p{
font-weight: 900;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color:#800000;
font-size: 1.4rem;

}

.content a{
  width: 100%;
 text-decoration: none;
 color: #fff;
font-size: 18px;
display: inline-block;
background-color: #800000;
text-align:center;
 padding: 7px; 
cursor: pointer;
border-radius: 5px;
margin-top: 100px;

}
.content:hover a{
  text-decoration: none;
  color: #fff;
  background-color: #923737;
  
}
.overlay{
  opacity: 0;
}

.wrappe:hover img {
  opacity: .2;
  background-size: 150%;

}
.wrappe:hover .overlay{
  opacity: 2;
  
  
} */



   

/* ---------------------end flip card---------- */










/* --------get in Touch----------------- */




/* ==============footer================= */
/* .footer{
  color: #f1f1f1;
}
.social-links{
  padding :20px;
  text-align: center;
  
}


.footer-link {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #000;

}
.footer-link:hover{
color:  #808080;
} */
