
body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family:sans-serif;
  background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url(../Images/background.jpg);
}
/* ---------------------nav------------------------ */

.navbar-brand {
  padding: 20px;
}

.nav-item {
  padding: 0 18px;
  margin-top: 15px;
  padding-top: 10px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: monospace "sans-serif";
  letter-spacing: 3px;
  
  
  
  
}
/* ------------------------------nav end---------------------- */
.header{
  height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../Images/Image-1.jpg);
  background-position:center top;
  background-size: cover;
  background-attachment: fixed;
  
}

.user-box{
  top:50%;
  left:50%;
  transform: translate(-45%,60%);
  position: absolute;
  background: #dfdedb41;
}

.user-box h1{
  color: #fff;
  margin:10px ;
  font-weight: bold;
}
.user-box p,h2{
  color: #fff;
  margin:10px ;
  font-weight: bold;
}
/* =------------------------About me=------------------- */

#about-me{
  height: 110vh;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../Images/image2.jpeg);
background-position:center top;
background-size: cover;
position: relative;
background-attachment: fixed;


}
.profile{
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: hsla(45, 6%, 87%, 0.151);
    
}


.profile p{
  color: #fff;
  margin:10px ;
  font-style: italic;
  line-height:3;
  font-weight: normal;
  
}
@media(max-width:768px){
  .profile p{
    line-height: 1.2;
    

  }
}






/* -----------------grid Site Image and text------------ */


.work-title{
 
  top:80%;
 left:45%;
 transform: translate(-45%,120%);
 position: absolute;
 background: #dfdedb41;
 padding: 20px; 
 width: 100%;
 justify-content: center;
text-align: center;
 

 
}

.work-title h1{
 color: #fff;
 margin:10px ;
 font-weight: bold;
}
.work-title  p{
 color: #fff;
 margin:10px ;
 font-weight: none;
 color:#800000;
 font-style: italic;
}


/* ----------------text over image ---------- */
.work-container{
 padding-top: 300px;
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(500px,1fr));

  grid-auto-rows: 400px;
  grid-gap: 20px;
  
}


.text-work, .drum, .todo{
 
color:#f1f1f1;
padding: 2em;
letter-spacing: 5px;


}




.wrappe{
  font-family: sans-serif;
  position: relative;
  width: 100%;
  border-radius: 20px;
  padding: 2em;
  text-align: center;
 
  
}

.wrappe img{
  opacity: 1;
   background-size: 100%;
  transition: .5s ease;
  
  width: 500px;
  height: 300px; 
  border-radius: 15px;
  border: 5px solid;
  border-color: #fff;
  text-align: center;
  align-items: center;
  justify-content: center;
}
  

  

#work-container h1{
  font-size: 3rem;
  
  text-align: center;
  align-items: center;
  justify-content: center;
  
}

.content {
  position: absolute;
 top:70%;
 left:50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  text-transform: uppercase;
  font-size: 17px;
  text-align: center;
  align-items: center;

  white-space: nowrap;
  overflow: hidden;
  

}
.content h2{
  font-weight: 2;
  font-style: italic;

}
.content p{
font-weight: 900;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color:#800000;
font-size: 1.4rem;

}

.content a{
  width: 100%;
 text-decoration: none;
 color: #fff;
font-size: 18px;
display: inline-block;
background-color: #800000;
text-align:center;
 padding: 7px; 
cursor: pointer;
border-radius: 5px;
margin-top: 100px;

}
.content:hover a{
  text-decoration: none;
  color: #fff;
  background-color: #923737;
  
}
.overlay{
  opacity: 0;
}

.wrappe:hover img {
  opacity: .2;
  background-size: 150%;

}
.wrappe:hover .overlay{
  opacity: 2;
  
  
}



   

/* ---------------------end flip card---------- */
#education{
  height: 100vh;
  background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url(../Images/edu.jpeg);
background-position:center left;
background-size:cover;
position: relative;
background-attachment: fixed;

}
.edu{
  padding: 30px;
  top:50%;
  left:60%;
  transform: translate(-90%,-50%);
  position: absolute;
  background: #dfdedb41;
  width: 60%;
  
}

.project {
list-style-type: none;
position: relative;

}


.project:before{
  content:'';
  background: #d1762c;
  display: inline-block;
  position: absolute;
  left:29px;
  /* width: 2px; */
  height: 100%;
  z-index: 1;
}

.project li{
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 10px;

}

.project li h4{
  padding:5px 0 5px 20px;
  background-color: #d1762c;
  
  font-size: 15px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;

  color: #fff;
  margin:10px ;
  

}
.project li b{
  color: #fff;
  font-style: italic ;
  font-weight: normal;

}



.project a{
  color: #fff;
  float: right;
  border-radius: 30px;


}
.project a:hover{
  color: #e0dfbf;

}
@media(max-width:768px){
  .project:before{
    position: absolute;
    
    padding: 3px;
  }
  .edu{
    padding: 5px;
    width: 60%;
    
  }
}

/* --------get in Touch----------------- */
 #contact{
  height: 110vh;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../Images/contact.jpg);
  background-size: cover;
   position: relative;
  text-align: center;
  justify-content: center;
  
  
}
.contact-container{
  left:55px;
  padding: 70px;
  top: 120px;
 

  position: absolute;
  color: #fff;

  background: #dfdedb41;
  
} 
 

.contact-detail{
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap;
 overflow: hidden;
 text-align: center;


 align-items: center;
 justify-content: space-evenly;
 margin-right: 20px;

 
}




.tel, .email, .git{
  margin: 3rem; 
  width: 230px;
}


.contact .fa{
  
  font-size: 40px;
  color:#fff;
}
.contact i{
  margin:20px;
}
.contact a{
  color:#fff;
  outline: none;
  
}
.contact a:hover{
  color: #e0dfbf;
}
.email .fa:hover{
  color: #e0dfbf;
}

@media(max-width:768px){

  .tel, .email, .git{
    margin: 1.2rem; 
    width: 200px;
    justify-content: center;
    justify-items: center;
  }
  .contact-container{
    left:100px;
    top: 80px;
    justify-content: center;
    justify-items: center;
  }
  .contact-detail{
    
    flex-direction: column;
    justify-content: center;
    justify-items: center;
   }
   
}

/* ==============footer================= */
.footer{
  color: #f1f1f1;
}
.social-links{
  padding :20px;
  text-align: center;
  
}


.footer-link {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #000;

}
.footer-link:hover{
color:  #808080;
}
